<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BF Awards</title>

    <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet" media="all" />
    <link href="{{ asset('/css/font-awesome.min.css') }}" rel="stylesheet" media="all" />
    <link href="{{ asset('/css/admin-theme/custom.min.css') }}" rel="stylesheet" media="all" />
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ url('admin_home') }}" class="site_title"><i class="fa fa-trophy"></i> <span>BF Awards</span></a>
                </div>

                <div class="clearfix"></div>
                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>Menu</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ url('admin_contests') }}"><i class="fa fa-flag"></i> Concursos</a>
                            </li>
                            <li>
                                <a href="{{ url('admin_participants') }}"><i class="fa fa-users"></i> Participantes</a>
                            </li>
                            <li>
                                <a href="{{ url('admin_images') }}"><i class="fa fa-image"></i> Imagens</a>
                            </li>
                            <li>
                                <a href="{{ url('admin_ranking') }}"><i class="fa fa-trophy"></i> Ranking</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile">
                                Admin
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            {% block content %}{% endblock %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<script src="{{ asset('/js/jquery.min.js') }}"></script>
<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/js/admin-theme/custom.min.js') }}"></script>

{% block scripts %}{% endblock %}

</body>
</html>